.logo_place_footer {
  background-image: url(../../../images/logo_place_footer.svg);
  background-color: #1f1f1f;
  transition: all 0.5s linear;
  opacity: 1;
}

.logo_place_footer:hover {
  opacity: 0.5;
}
