.kaufman__triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  top: 0px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-color: #1f1f1f;
  background-size: 877px 877px;
}
