.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

p, h1, h2, h3, h4, h5 {
  margin: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

/*>>> START HEADER <<<*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  position: relative;
}

.logo{
  width: 183px;
  height: 32px;
}

.logo_place_header {
  top: 30px;
  left: 64px;
  position: absolute;
}

.header__title {
  width: 730px;
  padding: 0 0 0 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
  left: 64px;
  bottom: 30px;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
  z-index: 0;
}

/*>>> END HEADER <<<*/

.content {
}

/*>>> START DESCRIPTION <<<*/

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  margin: -15px 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 15px 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight:bold;
}

/*>>> END DESCRIPTION <<<*/
/*>>> START DIGITS <<<*/

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight:bold;
  width: 60%;
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight:normal;
  width: 60%;
  margin: 0;
  text-align: center;
}

.table {
  padding: 0;
  margin: 0;
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  padding-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight:bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight:normal;
  padding: 20px 0 0 0;
}

/*>>> END DIGITS <<<*/
/*>>> START FEYNMAN <<<*/

.feynman {
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url(../images/feynman.png);
  background-color: #f2f2f2;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  position: relative;
}

.feynman_title {
  padding: 100px 0 0 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
}

.feynman_subtitle {
  padding: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman_link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}

/*>>> END FEYNMAN <<<*/
/*>>> START KAUFMAN <<<*/

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0px;
}

.section-title_theme_dark {
  color: white;
}

.section-subtitle_theme_dark {
  color: white;
}

.table_theme_dark {
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  padding-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

/*>>> END KAUFMAN <<<*/
/*>>> START FOOTER <<<*/

.footer {
  background-color: #1f1f1f;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  display: flex; /*убрать ессличо*/
  justify-content: center;
}

.footer__columns{
  display: flex;
  justify-content: space-between;
  color: white;
  width: 90%;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.footer__column_content_info {
}

.footer__column_content_social {
}

.logo_place_footer {
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  background-color: #1f1f1f;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
}

.footer__column-links {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  padding-bottom: 16px;
}

.footer__social-icon {
  padding-right: 10px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  width: 16px;
  height: 16px;
}

/*>>> END FOOTER <<<*/
