.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  transition: all 0.5s linear;
  opacity: 1;
  padding-left: 48px;
}

.khan__buy-link:hover {
  opacity: 0.5;
}
